html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
}

:root{
    --select-transition: .15s ease-in;

    --roboto-ff: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    --sf-pro-display-ff: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
    --general-ff: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Roboto', sans-serif;

    --btn-height: 5.6rem;
    --btn-radius: 2.4rem;
    --h1-fsize: 4.2rem;
    --h1-line-height: 4.6rem;

    --dark-text: #070B33;
    --light-text: #FFFFFF;
    --semi-light-text: #FFFFFF80;
}