@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
        src: url("../assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf") format("opentype");;
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf") format("opentype");;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("opentype");;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("opentype");;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("opentype");;
}
h1{
    font-size: var(--h1-fsize);
    line-height: var(--h1-line-height);
    text-align: center;
    color: var(--light-text);
    font-weight: 900;
}

body{
    height: 100svh;
    overflow: hidden;
    font-family: var(--general-ff);
}

.removed{
    display: none;
}

.title{
    margin-top: auto;
}

.main-wrapper__top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    min-height: var(--btn-height);
    border-radius: var(--btn-radius);
    outline: none;
    border: none;
    background-color: var(--light-text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    line-height: 2.4rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--dark-text)
}

.main-wrapper{
    padding: 2.8rem 2.4rem 3.1rem;
    height: 100svh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr auto 1fr auto;
}

.main-wrapper__bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0d081a;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-wrapper__bg__img{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}
.gallery{
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    gap: .7rem;
}

.gallery-item{
    max-width: 10.4rem;
    position: relative;
    z-index: 1;
}

.gallery-item__text{
    position: absolute;
    z-index: 2;
    color: var(--light-text);
    opacity: .7;
    bottom: 1rem;
    left: .7rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.access{
    gap: .8rem;
    display: flex;
    flex-direction: column;
}

.access .button{
    margin-top: .8rem;
}

.access-item{
    cursor: pointer;
    min-height: var(--btn-height);
    border: 1px solid var(--light-text);
    background-color: #FFFFFF1A;
    border-radius: var(--btn-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2.4rem;
    position: relative;
    z-index: 1;
    color: var(--light-text);
    font-size: 1.6rem;
    line-height: 1.9rem;
    transition: background-color var(--select-transition);
    font-family: var(--sf-pro-display-ff);
}

input:checked+.access-item{
    background-color: #FFFFFF4D;
}

.access-item__tip{
    padding: .2rem  2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-text);
    background-color: var(--light-text);
    font-size: 1.3rem;
    line-height: 1.5rem;
    border-radius: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    font-family: var(--roboto-ff);
}

.access-item__title{
    text-transform: uppercase;
    font-weight: 600;
}

.access-item__text {
    opacity: .7;
    font-weight: 400;
}

.terms{
    display: flex;
    width: 100%;
    max-width: 26rem;
    justify-content: space-between;
    margin: 1rem auto auto;
    font-family: var(--sf-pro-display-ff);
}

.terms a {
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    color: #FFFFFF80;
    text-decoration: none;
}

.close{
    display: inline;
}

.close svg{
    height: 1.2rem;
    width: 1.2rem;
}

@media (max-height  : 737px) {
    .access .button{
        margin-top: 0;
    }
    .main-wrapper{
        padding: 1.6rem 2.4rem 1rem;
    }
}